@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  line-height: 25px;
  font-size: 18px;
}
h1 {
  font-size: 50px;
  margin-left: 30px;
}
h2 {
  font-size: 40px;
}
.header {
  border-left: 5px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
.orange-color {
  color: orange;
}
.stay-focused-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 65%;
}
p {
  text-align: justify;
  margin-right: 20px;
}
.link-btn {
  text-decoration: none;
  background-image: linear-gradient(salmon, tomato);
  padding: 12px 35px;
  margin: 20px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}
