/* common area */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Spartan", sans-serif;
  line-height: 35px;
  font-size: 18px;
}
h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 30px;
  margin-top: 30px;
}
p {
  margin: 25px 0;
  text-align: justify;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 30px;
}

/* focused on area start here */

.orange-color {
  color: orange;
}
.stay-focused-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.header {
  border-left: 5px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 70%;
}

.padding-btm {
  padding: 30px 0;
}
.link-btn {
  text-decoration: none;
  background-image: linear-gradient(salmon, tomato);
  padding: 12px 25px;
  margin: 20px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}
/* focused on area end here */

/* mission area start here */

.mission-area-main {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
}
.mission-area {
  display: flex;
}

.mission-area-single-item {
  padding: 50px 30px;
  width: 570px;
  margin-bottom: 30px;
  margin-right: 30px;
  border-radius: 15px;
}
.mission-area-single-item:last-child {
  margin-right: 0;
}

.mission-area-single-item img {
  width: 200px;
}
.mis-bg-color {
  background-color: #edf5f6;
}
.vis-bg-color {
  background-color: #ffeeee;
}
.goals-bg-color {
  background-color: #fff4d5;
}

.mission-area-main h1 {
  text-align: center;
  margin: 50px auto;
  color: #130f3a;
  padding: 20px 0;
}
/* mission area start here */

/* develop global area start here */

.Develop-global-area-main {
  background-image: url(images/shapes/dream-bg.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.develop-global-area {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}
.develop-global-area-img {
  width: 40%;
  margin-right: 50px;
}
.develop-global-area-img img {
  width: 100%;
}
.develop-global-area-content {
  padding: 60px 40px;
  padding-right: 50px;
  width: 60%;
}
.bg-img {
  background-image: url(images/shapes/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

/* develop global area end here */

/* gallary area start */
.gallary-area {
  padding: 80px 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.title {
  text-align: center;
  margin-bottom: 60px;
}
.title h4 {
  text-transform: capitalize;
  font-size: 40px;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-gallary {
  flex-basis: 23%;
  margin-bottom: 35px;
}

.single-gallary img {
  border: 2px solid #ddd;
  padding: 3px;
  border-radius: 10px;
}
/* gallary area end */

/* contact area start */
.contact-area {
  background-color: #f2f2f2;
  padding: 80px 0;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form {
  flex-basis: 60%;
}

.contact-address {
  flex-basis: 35%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
.contact-form textarea {
  height: 80px;
}

.contact-form input[type="submit"] {
  background-color: tomato;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.contact-form input[type="submit"]:hover {
  background-color: teal;
}
.single-contact {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.single-contact i {
  background-color: tomato;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.single-contact h4 {
  text-transform: capitalize;
  font-size: 22px;
}

.single-contact h4 span {
  display: block;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 400;
}
/* contact area end */

/* footer area start here */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
}
.footer h2 {
  color: #fff;
  padding: 15px;
}
.red-color {
  color: #e24646;
}
small {
  color: #7c7777;
}
/* footer area end here */
